@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

.menuH {
    display: flex;
    justify-content: space-around;
    color: gray;
}

.boxMenu {
    display: flex;
}

.nomeItem {
    margin-left: 5px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}